@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

:root{
    --black: black;
    --black-opacity-09: rgb(0, 0, 0, 0.9);
    --black-opacity-08: rgb(0, 0, 0, 0.8);
    --black-opacity-01: rgb(0, 0, 0, 0.1);
    --black-opacity-00: rgb(0, 0, 0, 0.0);
    --white: white;
    --white-opacity-09: rgb(255, 255, 255, 0.9);
    --white-opacity-07: rgb(255, 255, 255, 0.7);
    --white-opacity-06: rgb(255, 255, 255, 0.6);
    --white-opacity-05: rgb(255, 255, 255, 0.55);
    --white-opacity-01: rgb(255, 255, 255, 0.1);
    --gray: gray;
    --blue: blue;
    --light-blue: dodgerblue;
    --medium-blue: #0F0F1A;
    --transparent: transparent;
    --darkred: rgb(87, 1, 1);
    --red: red;
}

@keyframes FadeIn{
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes FadeUp{
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes colorTransition{
  from{
    background-color: var(--black-opacity-00);
  }to{
    background-color: var(--black-opacity-09);
  }
}

body{
  background-color: var(--medium-blue)
}

