@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fadeIn{
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeUp{
  from{
    transform: translateY(100%);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

:root{
  --black: black;
  --black-opacity-01: rgb(0, 0, 0, 0.1);
  --white: white;
  --white-opacity-09: rgb(255, 255, 255, 0.9);
  --white-opacity-07: rgb(255, 255, 255, 0.7);
  --white-opacity-06: rgb(255, 255, 255, 0.6);
  --white-opacity-05: rgb(255, 255, 255, 0.55);
  --gray: gray;
  --blue: blue;
  --medium-blue: #0F0F1A;
  --transparent: transparent;
}

body{
  background-color: var(--medium-blue)
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px 50px;
  box-sizing: border-box;
}

.menu-container{
  display: none;
}

header nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

header ul li{
  border-bottom: 1.7pt solid transparent;
}

header ul li:first-child{
  border-bottom: 1.5pt solid var(--white);
}

header ul li, header h1, .homepage h1, .cadastros-page h1, .profile-page h1{
  font: 400 17px 'Poppins',helvetica, sans-serif;
  cursor: pointer;
  color: var(--white);
}

header h1{
  font-size: 18px;
  cursor: auto;
}

.homepage, .cadastros-page, .profile-page, .auth-page{
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn .3s ease-in-out;
}

.homepage h1, .cadastros-page h1, .profile-page h1{
  font-size: 30px;
  cursor: auto;
}

.cadastros-page{
  flex-direction: column;
}

.cadastros-page .section-title h1{
  font: 500 22px 'Poppins', helvetica sans-serif;
}

.cadastros-page table{
  margin-top: 20px;
  border: 1pt solid var(--white);
  background-color: var(--white);
  border-radius: 3px;
}

.cadastros-page table .table-title{
  color: var(--black);
  font: 600 18px 'Roboto', serif;
}

.cadastros-page table th, td{
  border: none;
  border-bottom: 1pt solid var(--black);
  color: var(--medium-blue);
  padding: 10px 40px;
  font: 500 16px 'Poppins', 'Montserrat', serif;
}

.cadastros-page table tr:last-child td{
  border-bottom: none;
}

.cadastros-page table .table-name{
  text-align: end;
}

.cadastros-page table .table-id{
  border-right: 1pt solid var(--black);
  text-align: center;
}

.cadastros-page table .table-email{
  border-right: 1pt solid var(--black);
}

.auth-page{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: none;
  background-color: var(--medium-blue);
  z-index: 10;
}

.auth-page .auth-form{
  overflow-y: hidden;
}

.auth-page .auth-form, .page-text-area{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  transition: all .3s ease-in-out;
}

.auth-page .sign-up-form{
  opacity: 0;
}

.auth-page .container-form{
  min-width: 70%;
  animation: fadeUp .3s ease-in-out;
}

.auth-page .auth-form form{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.auth-page form h2{
  color: var(--white);
  font: 600 35px 'Poppins', 'Roboto', sans-serif;
}

.auth-page .email-input-box, .password-input-box, .check-box{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.auth-page form label{
  color: var(--white-opacity-09);
  font: 500 16px 'Poppins', 'Roboto',sans-serif;
}

.auth-page form .input-box{
  width: 100%;
  position: relative;
}


.auth-page form .input-box .show-icon, .auth-page form .input-box .lock-icon, .auth-page form .input-box .user-icon{
  color: var(--white-opacity-07);
  background-color: var(--transparent);
  position: absolute;
  font-size: 15px;
  height: 100%;
  top: 50%;
  right: 20px;
  cursor: pointer;
  transform:  translateY(-50%);
  opacity: 0;
  z-index: 10;
  transition: all .2s ease-in-out;
}

.auth-page form .input-box .lock-icon{
  left: 5px;
  opacity: 1;
  font-size: 16px;
  cursor: auto;
  z-index: 1;
  transition: all 0s ease-in-out;
  color: var(--white-opacity-05);
}

.auth-page form .input-box .user-icon{
  color: var(--white-opacity-05);
  left: 5px;
  opacity: 1;
  cursor: auto;
  z-index: 1;
  transition: all 0s ease-in-out;
  font-size: 13px;
}

.auth-page form .input-box .show-icon{
  color: var(--white-opacity-07);
  font-size: 16.5px;
}

.auth-page form .input-box .active{
  opacity: 1;
}

.auth-page form .input-box .lock-icon-disabled{
  opacity: 0;
}

.auth-page form .input-box .user-icon-disabled{
  opacity: 0;
}

.auth-page form input{
  color: var(--white);
  width: 100%;
  background-color: var(--transparent);
  padding: 5px;
  border: none;
  border-bottom: .99pt solid var(--white-opacity-06);
  outline: none;
  font: 400 15px 'Poppins', 'Roboto',sans-serif;
}

.auth-page form input::placeholder{
  font-size: 13.7px;
  padding-left: 25px;
  color: var(--white-opacity-05);
}

.auth-page form input:focus{
  background-color: var(--medium-blue);
}

.auth-page form .check-box{
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.auth-page form .check-box input{
  width: 14px;
  margin-top: 5px;
}

.auth-page form .check-box label{
  font-size: 14px;
  font-weight: 400;
  color: var(--white-opacity-09);
}

.auth-page form .check-box label span{
  color: dodgerblue;
  cursor: pointer;
  position: relative;
}

.auth-page form .check-box label span::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1pt solid dodgerblue;
}

.auth-page form button{
  position: static;
  padding: 8px 0px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  font: 500 16px 'Roboto', 'Poppins', sans-serif;
  outline: none;
}

.auth-page form .btn-submit{
  background-color: var(--white);
  height: 39px;
  overflow: hidden;
}

.auth-page .container-form .form-division{
  position: relative;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.auth-page .container-form .form-division #line{
  width: 100%;
  border-bottom: 1pt solid var(--white-opacity-05);
}

.auth-page .container-form .form-division h3{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-opacity-09);
  background-color: var(--medium-blue);
  width: 50px;
  height: 30px;
  font: 400 12px 'Poppins', 'Roboto', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-page .container-form .Other-authentications-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  margin: 20px 0px;
}

.auth-page .container-form .Other-authentications-form button{
  width: 48%;
  height: 39px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
}

.auth-page .Other-authentications-form button .google-icon, .facebook-icon{
  font-size: 23px;
}

.auth-page .container-form .Other-authentications-form button:nth-child(2){
  background-color: var(--black);
  border: 1pt solid var(--white);
}

.auth-page .Other-authentications-form .facebook-icon{
  color: var(--white);
}

.auth-page .account-exist{
  margin-top: 10px;
}

.auth-page .account-exist p{
  color: var(--white-opacity-06);
  text-align: center;
  font: 400 14px 'Poppins', 'Montserrat', sans-serif;
}

.auth-page .account-exist p span{
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
}

.page-text-area{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 1;
  height: 100vh;
  border-top-right-radius: 200px;
  background-color: var(--white);
  overflow-y: hidden;
}

.page-text-area .text-center{
  width: 50%;
  min-width: 500px;
  animation: fadeUp .3s ease-in-out;
}

.page-text-area .text-center h1{
  color: var(--medium-blue);
  font: 800 60px 'Poppins', serif;
  position: relative;
}

.page-text-area .text-center h1::before{
  content: '';
  width: 50%;
  position: absolute;
  height: 100%;
  bottom: 0;
  border: none;
  border-bottom: 5pt solid var(--medium-blue);
}

.page-text-area .text-center p{
  color: var(--medium-blue);
  font: 500 17px 'Montserrat', helvetica, sans-serif;
  margin-top: 20px;
}

@media screen and (max-width: 1080px){
  .auth-page .auth-form{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  .auth-page .sign-up-form{
    left: -100%;
  }

  .auth-page .page-text-area{
    display: none;
  }

}

@media screen and (max-width: 600px){
  header{
    justify-content: center;
    height: 90px;
    position: relative;
  }

  header h1{
    display: none;
  }

  header nav{
    display: none;
  }

  .menu-container{
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    height: 180px;
    left: 0;
    background-color: var(--white);
  }

  .menu-container .background-hide-menu{
    width: 100%;
    height: 105%;
    position: absolute;
    bottom: -5px;
    z-index: 2;
    left: 0;
    background-color: var(--medium-blue);
    transition: all .2s ease-in-out;
  }

  .menu-container .menu-icon-box{
    width: 40px;
    height: 35px;
    position: absolute;
    top: 25px;
    right: 25px;
    color: var(--white);
    background-color: var(--gray);
    font-size: 30px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    display: flex;
    z-index: 4;
    justify-content: center;
    align-items: center;
  }

  .menu-container .options-box{
    margin-top: 20px;
    padding-left: 10px;
  }

  .menu-container ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .menu-container ul li{
    width: 100%;
    font: 500 16px 'Roboto', 'Poppins', sans-serif;
    color: var(--black);
    border: none;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1pt solid var(--black-opacity-01);
  }

  .cadastros-page{
    width: 100%;
  }

  .cadastros-page table{
    transform: scale(.65);
  }

  .cadastros-page .section-title h1{
    text-align: center;
  }

  .cadastros-page .table-container{
    margin: auto;
    display: flex;
    padding: 0;
    justify-content: center;
    width: 90%;
  }

  .cadastros-page, .profile-page, .homepage{
    height: calc(100vh - 150px);
  }

  .cadastros-page h1, .profile-page h1, .homepage h1{
    font-size: 1.5em;
  }

  .auth-page .container-form{
    width: 85%;
    max-width: 87%;
    animation: fadeUp .2s ease-in-out;
  }
  
  .auth-page form .input-box .show-icon{
    right: 5px;
  }

  .auth-page form  label{
    font-size: 19px;
  }

  .auth-page form .input-box input{
    font-size: 16px;
  }

  .auth-page form .input-box input::placeholder{
    font-size: 16px;
  }

  .auth-page form .check-box label{
    font-size: 17px;  
  }

  .auth-page .container-form .account-exist{
    margin-top: 30px;
  }

  .auth-page .container-form .account-exist p{
    font-size: 15px;
  }

}